/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset
/Volume 2 - Unsupervised Deep Learning/Part 5 - Boltzmann Machines (BM)/Boltzmann_Machines/ml-100k
/Volume 2 - Unsupervised Deep Learning/Part 5 - Boltzmann Machines (BM)/Boltzmann_Machines/ml-1m